.login-popup {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 300px;
    max-width: 80%;
    margin: auto;
    background-color: rgb(248, 204, 214);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.login-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}